<div id="fullTimerForm"
     class="card"
     style="display:none;">

<h2 style="margin-bottom:20px;">FULL TIMER CLAIM</h2>

<div class="row">

<div class="col-6">

<label>Unit</label>

<input
type="text"
id="ft_unit"
class="form-control"
data-required="true"
data-label="Unit"
maxlength="4"
inputmode="numeric"
pattern="[0-9]*">

</div>

<div class="col-6">

<label>Employee ID</label>

<div class="search-box">

<input
type="text"
id="ft_employeeId"
class="form-control search-input"
data-required="true"
data-label="Employee ID"
maxlength="8"
inputmode="numeric"
pattern="[0-9]*"
placeholder="Enter Employee ID">

<button
type="button"
id="btnSearchFT"
class="search-icon">

<i class="fa-solid fa-magnifying-glass"></i>

</button>

</div>

</div>

<div class="row">

<div class="col-6">

<label>Employee Name</label>

<input
type="text"
id="ft_employeeName"
class="form-control"
data-required="true"
data-label="Employee Name">

</div>

<div class="col-6">

<label>Position</label>

<select id="ft_position" class="form-control" data-required="true" data-label="Position">

    <option value="">Select Position</option>

    <option value="Sm">Store Manager (SM)</option>

    <option value="Asm">Assistant Store Manager (ASM)</option>

    <option value="Sc">Store Crew (SC)</option>

    <option value="Sv1">Supervisor 1 (SV1)</option>

    <option value="Sv2">Supervisor 2 (SV2)</option>

    <option value="Asv">Assistant Supervisor (ASV)</option>

    <option value="Cm">Crew Member (CM)</option>

    <option value="Fc">Foreign Crew (FC)</option>

</select>

</div>

</div>

<div class="row">

<div class="col-4">

<label>Actual Date</label>

<input
type="date"
id="ft_actualDate"
class="form-control"
data-required="true"
data-label="Actual Date">

</div>

<div class="col-4">

<label>First In</label>

<input
type="time"
id="ft_firstIn"
class="form-control"
data-required="true"
data-label="First In">

</div>

<div class="col-4">

<label>Last Out</label>

<input
type="time"
id="ft_lastOut"
class="form-control"
data-required="true"
data-label="Last Out">

</div>

</div>

<div class="row">

<div class="col-4">

<label>Work Hours</label>

<input
type="text"
id="ft_workHours"
class="form-control"
readonly>

</div>

<div class="col-4">

<label>App Work Hours</label>

<input
type="text"
id="ft_appHours"
class="form-control"
readonly>

</div>

<div class="col-4">

<label>Approved OT</label>

<input
type="text"
id="ft_approvedOT"
class="form-control"
readonly>

</div>

</div>

<div class="row">

<div class="col-4">

<label>Public Holiday</label>

<select
id="ft_publicHoliday"
class="form-control"
data-required="true"
data-label="Public Holiday">

<option value="">Select</option>
<option>Yes</option>
<option>No</option>

</select>

</div>

<div class="col-4">

<label>Rest Day</label>

<select
id="ft_restDay"
class="form-control"
data-required="true"
data-label="Rest Day">

<option value="">Select</option>
<option>Yes</option>
<option>No</option>

</select>

</div>

<div class="col-4">

<label>Night Shift</label>

<select
id="ft_nightShift"
class="form-control"
data-required="true"
data-label="Night Shift">

<option value="">Select</option>
<option>Yes</option>
<option>No</option>

</select>

</div>

</div>

<div class="row">

<div class="col-6">

<label>Reason</label>

<select id="ft_reason" class="form-control" data-required="true" data-label="Reason">

    <option value="">Please Select..</option>

    <option value="Ot Capped">Ot Capped</option>

    <option value="Sistem/Device Malfunction">
        Sistem/Device Malfunction (Please Provide Report Number at the Column "O")
    </option>

</select>

</div>

<div class="col-6">

<label>Report Number</label>

<input
type="text"
id="ft_reportNo"
class="form-control"
data-required="true"
data-label="Report Number">

</div>

</div>

<div class="row">

    <div class="col-7">

        <label>Reason For Overtime</label>

        <select
            id="ft_reasonOT"
            class="form-control"
            data-required="true"
            data-label="Reason For Overtime">

            <option value="">Please Select..</option>

            <option value="Absence / any leaves (EL,UPL, MC etc) - no replacement available">
                Absence / any leaves (EL,UPL, MC etc) - no replacement available
            </option>

            <option value="Unfilled vacancy / resignation / suspension gap">
                Unfilled vacancy / resignation / suspension gap
            </option>

            <option value="Cover other store">
                Cover other store
            </option>

            <option value="Event and unplanned footfall spike">
                Event and unplanned footfall spike
            </option>

            <option value="Security incident / emergency on-site">
                Security incident / emergency on-site
            </option>

        </select>

    </div>

    <div class="col-5">

        <label>Remark</label>

        <textarea
            id="ft_remark"
            rows="3"
            class="form-control"></textarea>

    </div>

</div>

<div class="row mt-4">

<div class="col-6">

<button

id="btnSaveFT"

class="btn btn-success">

SAVE

</button>

</div>

<div class="col-6">

<button

id="btnResetFT"

type="button"

class="btn btn-secondary">

RESET

</button>

</div>

</div>

</div>
